<!DOCTYPE html>
<html>
  <head>
    <!-- needed for the media object left alignment -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- React Libraries -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

    <!-- React Components -->
    <script type="text/babel" src="../static/js/BillComponents/BillDetails.js"></script>
    <script type="text/babel" src="../static/js/BillComponents/BillInstance.js"></script>
    <script type="text/babel" src="../static/js/BillComponents/BillMedia.js"></script>
    <script type="text/babel" src="../static/js/BillComponents/BillSummary.js"></script>
    <script type="text/babel" src="../static/js/BillComponents/BillTitle.js"></script>
    <script type="text/babel" src="../static/js/BillComponents/BillOrgEntries.js"></script>
    

    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="EFNavbar"></div>
    <script type="text/babel" src="../static/js/EFNavbar.js"></script>
    <div id="bill_instance"></div>
    <!-- Hopefully we're able to construct a json similar to this -->
    <script type="text/babel">
      var bill_props = {};
      var state = "";
      $.get( "https://earth-first.live/api/bills?bill_id={{id}}", function( data ) {
          data = data[0];
          bill_props = {
            bill_summary: {title: data.title, 
                          text: data.description,
                          img_src: data.sponsor_image,
                          sponsor: data.sponsor_name,
                          state: data.sponsor_state,
                          party: data.sponsor_party
                    },
            bill_details: {     intro_date: data.intro_date,
                                action: data.latest_major_action,
                                pdf_url:data.bill_pdf
                    }
          };
          state = data.sponsor_state;
      }).done(get_orgs);

      function get_orgs() {
        $.get("https://earth-first.live/api/orgs?state=" + state, function (data) {
          var entries = [];
          for (var i = 0; i < data.length; i++){
              entries.push({url:"/orgs/" + data[i].name, name: data[i].name});
          }
            bill_props.bill_orgs = entries;
          }).done(youtube_bill_call);
      }

      function youtube_bill_call() {
          $.get("https://www.googleapis.com/youtube/v3/search?part=snippet&q="+bill_props.bill_summary.title+"&videoEmbeddable=true&type=video&key=AIzaSyAv-yezVRetEe5GU15uQIQ1oQna1SlBW5E", function (data) {
              var id = 0;
              if (data.items.length > 0) {
                id = data.items[0].id.videoId;
              } else {
                id = "FFroMQlKiag";
              }
              var youtube_id = id;
              bill_props.bill_summary.youtube_bill_id = youtube_id;
          }).done(youtube_sponsor_call).fail(function (){
              bill_props.bill_summary.youtube_bill_id = "FFroMQlKiag";
              bill_props.bill_summary.youtube_sponsor_id = "6n3pFFPSlW4";
              ReactDOM.render(<BillInstance bill_props={bill_props}/>, document.getElementById('bill_instance'));
          });
      }

      function youtube_sponsor_call() {
          $.get("https://www.googleapis.com/youtube/v3/search?part=snippet&q="+bill_props.bill_summary.sponsor+"&videoEmbeddable=true&type=video&key=AIzaSyAv-yezVRetEe5GU15uQIQ1oQna1SlBW5E", function (data) {
              var id = 0;
              if (data.items.length > 0) {
                id = data.items[0].id.videoId;
              } else {
                id = "6n3pFFPSlW4";
              }
              var youtube_id = id;
              bill_props.bill_summary.youtube_sponsor_id = youtube_id;
              ReactDOM.render(<BillInstance bill_props={bill_props}/>, document.getElementById('bill_instance'));
          });
      }
 
      
    </script>  
  
  </body>
</html>
