<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/mainpage.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- React Libraries -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

    <script type="text/babel" src="../static/js/StateComponents/StateComposting.js"></script>
    <script type="text/babel" src="../static/js/StateComponents/StateCurbside.js"></script>
    <script type="text/babel" src="../static/js/StateComponents/StateInfo.js"></script>
    <script type="text/babel" src="../static/js/StateComponents/StateInstance.js"></script>
    <script type="text/babel" src="../static/js/StateComponents/StatePoli.js"></script>
    <script type="text/babel" src="../static/js/StateComponents/StateOrg.js"></script>

    <title>{{state}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="EFNavbar"></div>
    <script type="text/babel" src="../static/js/EFNavbar.js"></script>

    <div id="state_instance"></div>
    <!-- Hopefully we're able to construct a json similar to this -->
    <script type="text/babel">
    var state_props = {};
    $.get("https://earth-first.live/api/states?abbr={{state}}", function (data) {
        data = data[0];
        state_props.state_info = {
            state: data.state,
            map_src: data.image_url,
            abbr: "{{state}}"
        };
    }).done(composting_call);
    
    //get program information
    function composting_call() {
        $.get("https://earth-first.live/api/programs?composting=True&State={{state}}", function (data) {
        if (data.length == 0) {
            state_props.state_compost = {
            img_src: 'https://www.epa.gov/sites/production/files/styles/medium/public/2015-11/compost_epa.jpg',
            city: "N/A",
            hours: "N/A",
            phone: "N/A",
            url: "https://google.com",
            // Issue with unterminated string literal
            // desc: data.Description,
            name: "We do not have any composting programs on record for this state."}; 
            }
        else {
            data = data[0];
            state_props.state_compost = {
            img_src: 'https://www.epa.gov/sites/production/files/styles/medium/public/2015-11/compost_epa.jpg',
            city: data.City,
            hours: data.Hours,
            phone: data.Phone,
            url: data.Url,
            // Issue with unterminated string literal
            // desc: data.Description,
            name: data.Name}; 
        }
        }).done(curbside_call);
    }
    
    // //curbside
    function curbside_call() {
        $.get("https://earth-first.live/api/programs?State={{state}}&curbside=True", function (data) {
            if (data.length == 0)
            {
                state_props.state_curb = {
                img_src: 'https://www.utdallas.edu/ehs/images/icon_environment.png',
                city: "N/A",
                hours: "N/A",
                phone: "N/A",
                url: "https://google.com",
                // Issue with unterminated string literal
                // desc: data.Description,
                name: "We do not have any composting programs on record for this state."
                };
            } 
            else
            {
                data = data[0];
                state_props.state_curb = {
                img_src: 'https://www.utdallas.edu/ehs/images/icon_environment.png',
                city: data.City,
                hours: data.Hours,
                phone: data.Phone,
                url: data.Url,
                // Issue with unterminated string literal
                // desc: data.Description,
                name: data.Name
                };
            }
        }).done(bills_call);
    }
    
    // //bills
    function bills_call() { 
        $.get("https://earth-first.live/api/bills?sponsor_state={{state}}", function (data) {
        var entries = [];
        for (var i = 0; i < data.length; i++){
            entries.push({url:"/politics/" + data[i].bill_id, name: data[i].title});
        }
            state_props.state_poli = entries;
        })
        .done(orgs_call);
    }

    //orgs
    function orgs_call() {
        $.get("https://earth-first.live/api/orgs?state={{state}}", function (data) {
            var entries = [];
            for (var i = 0; i < data.length; i++){
                entries.push({url:"/orgs/" + data[i].name, name: data[i].name});
            }
            state_props.state_orgs = entries;
        })
        .done(render);
    }
    

    function render() {
        ReactDOM.render(<StateInstance state_props={state_props}/>, document.getElementById('state_instance'));
    }
    </script>
</body>

</html>
