#chartArea {
    height: 400px;
    width: 600px;
    border: 1px solid black;
    display: block;
    margin: auto;
  }

#chartArea2 {
    height: 400px;
    width: 600px;
    border: 1px solid black;
    display: block;
    margin: auto;
  }