body {
  background-color: HoneyDew;
}

h1 {
  color: DarkSlateGray;
  font-family: sans-serif;
  text-align: center;
  font-size: 32pt;
}

h2 {
  color: DarkSlateGray;
  font-family: sans-serif;
  text-align: center;
  font-size: 24pt;
}

h3 {
  text-align: center;
}

/* navigation bar */
.navbar{
  margin: 0;
  padding: 0;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DimGrey;
}

nav a {
  font-family: sans-serif;
  font-size: 12pt;
  display: block;
  float: left;
  color: white;
  text-align: center;
	padding: 10px 12px;
  text-decoration: none;
}

/* change the box color when cursor hovers over it */
nav a:hover:not(.active) {
  background-color: black;
  color: white;
  text-decoration: none;
}

nav a.active-page
{
  background-color: cadetblue;
}

grid {
  text-align: center;
}

grid a{
  color: Black;
  font-family: sans-serif;
  font-size: 14pt;
}

grid a:hover:not(.active) {
  color: white;
  text-decoration: none;
}

/* make all columns in a row equal height */
.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  outline-style: solid;
  outline-color: white;
}

.row{
  overflow: hidden;
  outline-style: solid;
  outline-color: darkgray;
}

.row_contact{
  overflow: hidden; 
  outline-style: solid;
  outline-color: gray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-img-top {
    width: 100%;
    height: 25vw;
}

simple_grid {
  font-size: 18pt;
  color:black;
  border:none;
}

body {
  font-family: sans-serif;
  font-size: 12pt;
}

.pagination.pg-blue.justify-content-center .page-item{ 
  cursor: pointer;
}