.feature {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
      stroke-linejoin: round;
}
.mesh {
    fill: none;
      stroke: lightgrey;
      stroke-width: 2px;
      stroke-linejoin: round;
}