<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- React Libraries -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>   

    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="EFNavbar"></div>
    <script type="text/babel" src="../static/js/EFNavbar.js"></script>

    <div class="container">
        <h1>Motivation</h1>
        <p>
          <b>
          Our goal at Earth First is to spread environmental awareness and encourage increased participation in environmentally friendly actions. We provide resources to help you engage with your local community to make a positive difference for the environment. Our intended user is anyone that wants to learn more about the environment, how they can help, and how others are making a change.
          </b>
        </p>
    </div>

    <div class="container">
      <h1>About Us</h1>
    </div>

    <div id="Profile1row"></div>
    <script type="text/babel" src="../static/js/Profile1.js"></script>
    
    <br></br>

    <div id="Profile2row"></div>
    <script type="text/babel" src="../static/js/Profile2.js"></script>
      

    <div id="StatisticsTable"></div>
    <script type="text/babel" src="../static/js/Statistics.js"></script>

    <div id="UsefulLinks"></div>
    <script type="text/babel" src="../static/js/UsefulLinks.js"></script>

  </body>
  <!-- Fetches Commit Data from Gitlab -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/src/aboutme.js"></script>
</html>
