<!doctype html>
<html>
<head>
  <title>Earth First</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- makes the slides into a list -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
  <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- React Libraries -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 
  <script type="text/babel" src="../static/js/SearchComponents/SearchCard.js"></script>
  <script type="text/babel" src="../static/js/SearchComponents/Search.js"></script>
  <script type="text/babel" src="../static/js/SearchComponents/GeneralSearchDropdown.js"></script>
</head>
<body>
  <div id="EFNavbar"></div>
  <script type="text/babel" src="../static/js/EFNavbar.js"></script>
  <div id="SearchResults"></div>

    <script type="text/babel">
        var politics_results = [];
        var states_results = [];
        var orgs_results = [];
        $.get( "https://earth-first.live/api/states?search={{search_term}}", renderStates);
        function renderStates(data) {
          var ids = new Set();
          for (var i = 0; i < data.length; i++){
            for (var property in data[i]) {
                if (data[i].hasOwnProperty(property) && typeof(data[i][property]) == 'string' && !ids.has(data[i].abbr) && data[i][property].toLowerCase().includes("{{search_term}}".toLowerCase())) {
                  ids.add(data[i].abbr);
                  states_results.push({url:"/states/" + data[i].abbr, title: data[i].state, image:data[i].image_url, search_term: "{{search_term}}", text: data[i][property]});
                }
            }
          }
          $.get( "https://earth-first.live/api/bills?search={{search_term}}", renderPolitics);
        }
        function renderPolitics(data) {
          var ids = new Set();
          for (var i = 0; i < data.length; i++){
            for (var property in data[i]) {
                if (data[i].hasOwnProperty(property) && typeof(property) == 'string' && !ids.has(data[i].bill_id) && data[i][property].toLowerCase().includes("{{search_term}}".toLowerCase())) {
                  ids.add(data[i].bill_id);
                  politics_results.push({url:"/politics/" + data[i].bill_id, title: data[i].title, image:data[i].sponsor_image, search_term: "{{search_term}}", text: data[i][property]});
                }
            }
          }
          $.get( "https://earth-first.live/api/orgs?search={{search_term}}", renderOrgs);
        }
        function renderOrgs(data) {
          var ids = new Set();
          for (var i = 0; i < data.length; i++){
            for (var property in data[i]) {
                if (data[i].hasOwnProperty(property) && typeof(data[i][property]) == 'string' && !ids.has(data[i].name) && data[i][property].toLowerCase().includes("{{search_term}}".toLowerCase())) {
                  ids.add(data[i].name);
                  orgs_results.push({url:"/orgs/" + data[i].name, title: data[i].name, image:data[i].image_url, search_term: "{{search_term}}", text: data[i][property]});
                }
            }
          }
          ReactDOM.render(<GeneralSearchDropdown orgs_results={orgs_results} politics_results={politics_results} states_results={states_results} search_term="{{search_term}}"/>, document.getElementById('SearchResults'));
        }
      </script>

</body>
</html>
