<!doctype html>
<html>
<head>
  <title>Earth First</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- makes the slides into a list -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
  <!-- Make the slides loop and click to the next -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- React Libraries -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
</head>
<body>
  <div id="EFNavbar"></div>
  <script type="text/babel" src="../static/js/EFNavbar.js"></script>
  <p><h1><b>Earth First</h1></p>
  <h3> Our goal at Earth First is to spread environmental awareness and encourage increased participation in environmentally friendly actions.</h3>

  <div id="EFCarousel"></div>
  <script type="text/babel" src="../static/js/Carousel.js"></script>

</body>
</html>
