<!DOCTYPE html>
<html>
  <head>
    <!-- needed for auto resizing grid -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
    <!-- React Libraries -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    
    <!-- React Components -->
    <script type="text/babel" src="../static/js/OrgComponents/OrgEntry.js"></script>
    <script type="text/babel" src="../static/js/OrgComponents/OrgEntries.js"></script>
    
    <!-- For Bootstrap React-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <title>Organizations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="EFNavbar"></div>
    <script type="text/babel" src="../static/js/EFNavbar.js"></script>

    <div class="container-fluid">
      <h1>Environmental Organizations</h1>
      <!-- <grid> -->
        <div id="EFOrgEntries"></div>
        <!-- Hopefully we're able to construct a json similar to this -->
        <script type="text/babel">
          var current_page = 1;

          $.get( "https://earth-first.live/api/orgs", renderItems);

          function renderItems(data) {
            var entries = [];
            for (var i = 0; i < data.length; i++){
              entries.push({url:"orgs/" + data[i].name, content: data[i].name, logo_url:data[i].image_url, tagline: data[i].tagline, incomeAmount: data[i].incomeAmount, city: data[i].city, state: data[i].state, rating: data[i].rating});
            }
            ReactDOM.render(<OrgEntries entries={entries}/>, document.getElementById('EFOrgEntries'));
          }

          function handleNext() {
            current_page++;
            $.get( "https://earth-first.live/api/orgs?page=" + current_page, renderItems);
          }
          
          function handlePrevious() {
            current_page-=1;
            $.get( "https://earth-first.live/api/orgs?page=" + current_page, renderItems);
          }
        </script>  
    </div>
  </body>
</html>
