<!doctype html>
<html>
<head>
  <title>Earth First</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- makes the slides into a list -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- React Libraries -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 
  <script type="text/babel" src="../static/js/SearchComponents/SearchCard.js"></script>
  <script type="text/babel" src="../static/js/SearchComponents/Search.js"></script>
</head>
<body>
  <div id="EFNavbar"></div>
  <script type="text/babel" src="../static/js/EFNavbar.js"></script>
  <div id='SearchResults'></div>
    <script type="text/babel">
        $.get( "https://earth-first.live/api/orgs?search={{search_term}}", renderItems);
        function renderItems(data) {
          
          var results = [];
          var ids = new Set();
          for (var i = 0; i < data.length; i++){
            for (var property in data[i]) {
                if (data[i].hasOwnProperty(property) && typeof(data[i][property]) == 'string' && !ids.has(data[i].name) && data[i][property].toLowerCase().includes("{{search_term}}".toLowerCase())) {
                  ids.add(data[i].name);
                  results.push({url:"/orgs/" + data[i].name, title: data[i].name, image:data[i].image_url, search_term: "{{search_term}}", text: data[i][property]});
                }
            }
          }
          ReactDOM.render(<Search results={results} search_term="{{search_term}}"/>, document.getElementById('SearchResults'));
        }
      </script>

</body>
</html>
