<!DOCTYPE html>
<html>
  <head>
    <!-- needed for auto resizing grid -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- React Libraries -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script type="text/babel" src="../static/js/StateComponents/StateEntry.js"></script>
    <script type="text/babel" src="../static/js/StateComponents/StateEntries.js"></script> 
    <title>States</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="EFNavbar"></div>
    <script type="text/babel" src="../static/js/EFNavbar.js"></script>
    <div class="container-fluid">
      <h1>What You Can Do in Your State</h1>
      <div id="EFStateEntries"></div>
      <!-- Sample Json Input -->
      <script type="text/babel">
      var current_page = 1;

      $.get( "https://earth-first.live/api/states", renderItems);
      function renderItems(data) {
        var entries = [];
        for (var i = 0; i < data.length; i++){
          entries.push({url:"states/" + data[i].abbr, content: data[i].state, logo_url:data[i].image_url,
          num_bills: data[i].num_bills, num_orgs: data[i].num_orgs, num_progs:data[i].num_progs, abbr: data[i].abbr, region: data[i].region});
        }
        ReactDOM.render(<StateEntries entries={entries}/>, document.getElementById('EFStateEntries'));
      }
      </script> 
    </div>
  </body>
</html>
