<!doctype html>
<html>

<head>
  <title>Earth First</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- makes the slides into a list -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/mainpage.css') }}">
  <!-- Styling for Visualization Components -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/choropleth.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/barchart.css') }}">
  <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- React Libraries -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
  <script src='https://d3js.org/d3.v4.min.js'></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- React Components -->
  <script type="text/babel" src="../static/js/VisualizationComponents/Choropleth.js"></script>
  <script type="text/babel" src="../static/js/VisualizationComponents/PartiesVis.js"></script>
  <script type="text/babel" src="../static/js/VisualizationComponents/IncomeHist.js"></script>
  <script src="https://bl.ocks.org/NPashaP/raw/a74faf20b492ad377312/3513ad985b2fa93ea35f2fc864cb30540c298171/uStates.js"></script>
</head>

<body>
  <div id="EFNavbar"></div>
  <script type="text/babel" src="../static/js/EFNavbar.js"></script>
  <div id="tooltip"></div>
  <div class="container-fluid">
    <br />
    <h1>Visualizations</h1>
      <br />
      <svg id="chartArea"></svg>
      <div id="PartiesVis"></div>
      <br />
      <br />
      <svg id="chartArea2"></svg>
      <div id="IncomeHist"></div>
      <br />
      <br />
      <div class="container">
        <h3><u>Number of Bills, Environmental Programs, and Organizations per State</u></h3>
        <svg width="960" height="600" id="statesvg"></svg>
      </div>
      
  </div> 
</body>

</html>
