<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- React Libraries -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

    <!-- React Components-->
    <script type="text/babel" src="../static/js/OrgComponents/OrgInfo.js"></script>
    <script type="text/babel" src="../static/js/OrgComponents/OrgContact.js"></script>
    <script type="text/babel" src="../static/js/OrgComponents/OrgAOI.js"></script>
    <script type="text/babel" src="../static/js/OrgComponents/OrgPoli.js"></script>
    <script type="text/babel" src="../static/js/OrgComponents/OrgInstance.js"></script>

    <title>{{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <div id="EFNavbar"></div>
      <script type="text/babel" src="../static/js/EFNavbar.js"></script>

      <div id="org_instance"></div>
      <!-- Hopefully we're able to construct a json similar to this -->
      <script type="text/babel">
      var org_props = {};
      var state = "";
      $.get( "https://earth-first.live/api/orgs?name={{name}}", function( data ) {
        data = data[0];
        org_props = {
          org_info: {title: data.name, 
                     logo_url: data.image_url,
                     hq_location: data.city + ", " + data.state,
                     desc: data.mission,
                     tagline: data.tagline,
                     url: data.url,
                     rating: data.rating
                   },
          org_contact: {location: data.name + " Location",
                        street: data.address,
                        state: data.city + ", " + data.state + " " + data.postal_code,
                        country:"USA"
                   },
          org_aoi: {states:[data.state]}
        };
        state = data.state
      }).done(get_poli);

      function get_poli() {
        $.get("https://earth-first.live/api/bills?sponsor_state=" + state, function (data) {
          var entries = [];
          for (var i = 0; i < data.length; i++){
              entries.push({url:"/politics/" + data[i].bill_id, name: data[i].title});
          }
            org_props.org_poli = entries;
          }).done(youtube_call);
        }

       function youtube_call() {
            $.get("https://www.googleapis.com/youtube/v3/search?part=snippet&q="+org_props.org_info.title+"&videoEmbeddable=true&type=video&key=AIzaSyAv-yezVRetEe5GU15uQIQ1oQna1SlBW5E", function (data) {
                var id = 0;
                if (data.items.length > 0) {
                  id = data.items[0].id.videoId;
                } else {
                  id = "dQw4w9WgXcQ";
                }
                var youtube_id = id;
                org_props.org_info.youtube_id = youtube_id;
            }).done(render).fail(function () {
                org_props.org_info.youtube_id = "dQw4w9WgXcQ";
                render();
            });
        }

      function render() {
        ReactDOM.render(<OrgInstance org_props={org_props}/>, document.getElementById('org_instance'));
      }
        
      </script>  
  </body>
</html>
